<!-- Navigation Bar -->
<div class="nav-container">
    <div class="profile-container">
        <img class="avatar" id="avatar" src={{avatar}} alt="Profile Picture">
        
        </img>
        <div class="user-container">
            <span id="userName">{{name}}</span>
            <span class="status" id="userStatus">Status</span>
        </div>
    </div>
    <div class="tab-container">
        <a class="nav-tab" href="/dashboard">
            <span class="tab-icon">
                
            </span>
            <div class="tab-text">
                Dashboard
            </div>
        </a>
        <a class="nav-tab" href="/elections_list">
            <span class="tab-icon">

            </span>
            <div class="tab-text">
                Election Polls
            </div>
        </a>
        <a class="nav-tab">
            <span class="tab-icon">

            </span>
            <div class="tab-text">
                Manage Voters
            </div>
        </a>
        <a class="nav-tab">
            <span class="tab-icon">

            </span>
            <div class="tab-text">
                Account Settings
            </div>
        </a>
        <a class="nav-tab log-out" href="/auth/logout">
            <span class="tab-icon">

            </span>
            <div class="tab-text">
                Log-out
            </div>
        </a>
    </div>
</div>

    